@model IEnumerable<braintec.Infrastructure.Data.Tusuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Nuevo</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddocumentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddocumentoNavigation.Iddocumento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numdocumento" class="btn btn-primary">Editar</a>
                <br />
                <a asp-action="Details" asp-route-id="@item.Numdocumento" class="btn btn-success">Detalle</a>
                <br />
                <a asp-action="Delete" asp-route-id="@item.Numdocumento" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
