@model braintec.Infrastructure.Data.Ordenservicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordenservicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumenservicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumenservicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdestordenservNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdestordenservNavigation.Idestordenserv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdprioridadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprioridadNavigation.Idprioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdservicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdservicioNavigation.Idservicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumdocumentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumdocumentoNavigation.Numdocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacavehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacavehiculoNavigation.Placavehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idcasoservicio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
