@model braintec.Infrastructure.Data.Ordenpedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordenpedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fpedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fpedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdestordenpedNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdestordenpedNavigation.Idestordenped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumdocumentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumdocumentoNavigation.Numdocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefrepuestoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefrepuestoNavigation.Refrepuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idopedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
