@model IEnumerable<braintec.Infrastructure.Data.Ordenpedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fpedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdestordenpedNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumdocumentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefrepuestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fpedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdestordenpedNavigation.Idestordenped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumdocumentoNavigation.Numdocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefrepuestoNavigation.Refrepuesto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idopedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idopedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idopedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
