@model braintec.Infrastructure.Data.Menuusuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menuusuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mnombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mnombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipomenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipomenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigosubmenuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigosubmenuNavigation.Mcodigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdrolesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrolesNavigation.Idroles)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mcodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
