@model braintec.Infrastructure.Data.Menuusuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menuusuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mnombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mnombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipomenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipomenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigosubmenuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigosubmenuNavigation.Mcodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdrolesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrolesNavigation.Idroles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mcodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
