@model braintec.Infrastructure.Data.Tvehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tvehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marcavehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marcavehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelovehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelovehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindrajevehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cilindrajevehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometrajevehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometrajevehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trasmisionvehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trasmisionvehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aniovehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aniovehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumdocumentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumdocumentoNavigation.Numdocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Placavehiculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
