@model braintec.Infrastructure.Data.Tinventario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tinventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombrerepuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombrerepuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marcarepuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marcarepuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidadexistente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidadexistente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifarepuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifarepuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoriaNavigation.Idcategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdproveedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdproveedorNavigation.Idproveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Refrepuesto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
